@import 'reset';
@import 'autoform';
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
$primary:#8eab46;
$primary-alt:#9DC047;
$dark-gray:#1b1f21;
$medium-gray:#2A2E32;
$light-gray:#44474d;
@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}
.shake {-webkit-animation-name: shake;}

html, body {
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	background:rgb(27, 31, 33);
	border-radius:10px;
	font-size:0;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing:antialiased;
}

html {
	overflow: hidden;
	height: 100%;
}

body {
	height: 100%;
	overflow: auto;
}
body{
	box-sizing: border-box;
}
#main-iframe {
	width:100%;
	border:0;
	outline:0;
	height:calc(100vh - 76px);
	overflow:hidden;
}
.frame {
	box-shadow: 0 0 0 1px #000, 0 0 0 2px $medium-gray, 0 0 0 3px #000;
	border-radius:3px;
	height: 100%;
}
.table {
	display:table;
	width:100%;
	height:calc(100% - 30px);
	table-layout:fixed;
}
/*
db   db d88888b  .d8b.  d8888b. 
88   88 88'     d8' `8b 88  `8D 
88ooo88 88ooooo 88ooo88 88   88 
88~~~88 88~~~~~ 88~~~88 88   88 
88   88 88.     88   88 88  .8D 
YP   YP Y88888P YP   YP Y8888D' 
*/

header {
	background: $medium-gray;
	padding-top: 25px;
	height:44px;
	-webkit-app-region:drag;
	-webkit-user-select:none;
	border-radius:6px 6px 0 0;
	border-bottom: 1px solid $dark-gray;
	text-align:center;
	position:relative;
}
.head-btn-wrap{
	position: absolute;
	left: 18px;
	top: 23px;
}
.head-btn {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	margin: 0;
	display: inline-block;
	-webkit-app-region: no-drag;
	background: #FFF;
	border: 3px solid $medium-gray;
	transition:all .15s ease-out;
}
.close {background:#E26757;}
.minimize {background:#E0AC40;}
.maximize {background:#7BC240;}
.close:hover {background:#f33226;}
.minimize:hover {background:#f6d000;}
.maximize:hover {background:#65da55;}

.head-title {
	font-size:13px;
	letter-spacing: .4em;
	color:#fff;
	margin-bottom:25px;
	span {
		color:#575757;
	}
}

.tohome {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: #FFF;
	text-decoration: none;
	padding: 8px 15px;
	border-bottom: 0;
	border-radius: 3px;
	font-size: 12px;
	background: #44474d;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .15em;
}

.tohome:hover {
	background:$dark-gray;
}

.v-center {
	height: calc(100% - 30px);
	display:table-cell;
	vertical-align: middle;
}
.connection-tabs {
	margin:0 -15px -15px -15px;
	padding:15px 0 0 0;
}
.error-field {
	background: #FFEACE !important;
	border:2px solid rgb(244, 134, 42)!important;
	color:rgb(244, 134, 42)!important;
}
.connection-helper {
	font-size: 12px;
	background: rgb(244, 134, 42);
	display: block;
	padding: 10px;
	line-height: 1.3em;
	position: relative;
	top: -11px;
	color: #FFFFFF;
	text-align: center;
	border-radius: 0 0 3px 3px;
}
.connections {
	background:$medium-gray;
	width:600px;
	height:340px;
	margin:0 auto;
	box-sizing:border-box;
	box-shadow:0 5px 25px rgba(0,0,0,.3);
	border-radius:2px;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	h1 {
		font-size:13px;
		font-weight: bold;
		padding:0 0 22px 0;
		letter-spacing: .2em;
		color:#fff;
		a:link, a:visited {
			float:right;
			color:#fff;
		}
		a:hover {
			color:$primary;
		}
	}
	input[type="text"] {
		background:none;
		outline:none;
		border:2px solid $light-gray;
		padding:10px;
		margin-bottom:10px;
		font-size:14px;
		display:block;
		width:100%;
		border-radius:3px;
		box-sizing:border-box;
		box-shadow:inset 0 0 0 0 $medium-gray;
		transition:.25s ease-out;
		color:#fff;
	}
	input[type="text"]:hover {
		border:2px solid #6D6D6D;
	}
	input[type="text"]:focus {
		border:2px solid $primary;
		box-shadow:inset 0 0 15px 20px $dark-gray;
	}
	input[type="button"]{
		background:$primary;
		outline:none;
		border:none;
		padding:10px;
		margin-bottom:10px;
		font-size:14px;
		display:block;
		width:100%;
		border-radius:3px;
		box-sizing:border-box;
		font-family: 'Montserrat', sans-serif;
		color:#fff;
		text-transform: uppercase;
		letter-spacing: .1em;
		font-weight: bold;
		transition:.25s ease-out;
	}
	input[type="button"]:hover{
		cursor: pointer;
		background:$primary-alt;
	}
}
.connection-left {
	width:340px;
	height:340px;
	background:#33373A;
	font-size:12px;
	display:inline-block;
	vertical-align: top;
	padding:22px;
	box-sizing:border-box;
}

.connection-right {
	width:260px;
	height:340px;
	display:inline-block;
	vertical-align: top;
	padding:22px;
	box-sizing:border-box;
}
.connection-edit-2 {
	display: none;
}
.connection-list {
	background:#33373A;
	height:260px;
	overflow:auto;
	font-size:12px;
	border-radius:2px;
	color:#fff;
	a:link,
	a:visited {
		color:#ccc;
		text-decoration: none;
		display:block;
		padding:15px 15px;
		font-size:12px;
		border-bottom:1px solid $medium-gray;
	}
	a:hover {
		background:$primary;
		color:#fff;
	}
	a:before {
		content:'\f054';
		float:right;
		font-family:fontawesome;
	}
}
.connection-list::-webkit-scrollbar {
	width: 8px;
}
 
/* Track */
.connection-list::-webkit-scrollbar-track {
	background:$dark-gray;
}
 
/* Handle */
.connection-list::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: $medium-gray; 
	-webkit-box-shadow: inset 0 0 0 2px $dark-gray; 
}
.connection-list::-webkit-scrollbar-thumb:hover,
.connection-list::-webkit-scrollbar-thumb:active {
	background: $light-gray; 
}
.remove-list {
	@extend .connection-list;
	a:before {
		content: '\f00d';
		background: #be3434;
		color: #fff;
		width: 15px;
		height: 15px;
		text-align: center;
		line-height: 15px;
		border-radius: 8px;
		top: -2px;
		position: relative;
	}
}