@import 'reset';
@import 'autoform';
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
$primary:#8CAB28;
$primary-alt:#7a9521;
$dark-gray:#1b1f21;
$medium-gray:#2A2E32;
$light-gray:#44474d;
@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}
.shake {-webkit-animation-name: shake;}

html, body {
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	background:rgb(27, 31, 33);
	border-radius:10px;
	font-size:0;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing:antialiased;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}
body{
	box-sizing: border-box;
}
#main-iframe {
	width:100%;
	border:0;
	outline:0;
	height:calc(100vh - 76px);
	overflow:hidden;
}
.frame {
	box-shadow: 0 0 0 1px #000, 0 0 0 2px $medium-gray, 0 0 0 3px #000;
	border-radius:3px;
	height: 100%;
}
.table {
	display:table;
	width:100%;
	height:calc(100% - 30px);
	table-layout:fixed;
}
/*
db   db d88888b  .d8b.  d8888b. 
88   88 88'     d8' `8b 88  `8D 
88ooo88 88ooooo 88ooo88 88   88 
88~~~88 88~~~~~ 88~~~88 88   88 
88   88 88.     88   88 88  .8D 
YP   YP Y88888P YP   YP Y8888D' 
*/

header {
	background: $medium-gray;
	padding-top: 25px;
	height:44px;
	-webkit-app-region:drag;
	-webkit-user-select:none;
	border-radius:6px 6px 0 0;
	border-bottom: 1px solid $dark-gray;
	text-align:center;
	position:relative;
}
.head-btn-wrap{
	position: absolute;
	left: 18px;
	top: 23px;
}
.head-btn {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	margin: 0;
	display: inline-block;
	-webkit-app-region: no-drag;
	background: #FFF;
	border: 3px solid $medium-gray;
	transition:all .15s ease-out;
}
.close {background:#E26757;}
.minimize {background:#E0AC40;}
.maximize {background:#7BC240;}
.close:hover {background:#f33226;}
.minimize:hover {background:#f6d000;}
.maximize:hover {background:#65da55;}

.head-title {
	font-size:13px;
	letter-spacing: .4em;
	color:#fff;
	margin-bottom:25px;
	span {
		color:#575757;
	}
}

.tohome {
	position: absolute;
	bottom: 0;
	right: 20px;
	letter-spacing: normal;
	color: #FFF;
	text-decoration: none;
	padding: 8px 15px;
	border-bottom: 0;
	border-radius: 6px 6px 0 0;
	font-size: 12px;
	background:$light-gray;
}

.tohome:hover {
	background:$dark-gray;
}

.v-center {
	height: calc(100% - 30px);
	display:table-cell;
	vertical-align: middle;
}
.connection-tabs {
	margin:0 -15px -15px -15px;
	padding:15px 0 0 0;
}
.error-field {
  background: #FFEACE !important;
  box-shadow: inset 0 0 0 1px rgb(244, 134, 42);
}
.connection-helper {
	font-size: 12px;
	background: rgb(244, 134, 42);
	display: block;
	padding: 10px;
	line-height: 1.3em;
	position: relative;
	top: -1px;
	color: #FFFFFF;
	text-align: center;
	border-radius: 0 0 3px 3px;
}
.connections {
	background:$light-gray;
	width:300px;
	margin:0 auto;
	padding:15px;
	box-sizing:border-box;
	box-shadow:0 5px 25px rgba(0,0,0,.3);
	border-radius:2px;
	-webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
	hr {
		margin:15px -15px;
		border:0;
		border-bottom:1px solid $dark-gray;
	}
	h1 {
		color:$primary;
		font-size:18px;
		text-align: center;
		display:inline-block;
		width:100%;
		box-sizing:border-box;
	}
	h2 {
		color:$primary;
		font-size:14px;
		text-align: center;
		margin:0 0 10px 0;
		display:inline-block;
		width:100%;
		box-sizing:border-box;
	}
	label {
		display:block;
		text-transform:uppercase;
		font-size:11px;
		padding-top:10px;
		color:#222;
	}
	input[type="text"]{
		display:block;
		width:100%;
		padding:10px;
		box-sizing:border-box;
		background:#BAC2C6;
		outline:0;
		border:0;
		border-radius:3px;
	}
::-webkit-input-placeholder {
   color: #8A8A8A;
   font-style:italic;
}
	input[type="text"]:focus {
		background:#fff;
	}
	.button {
		display:block;
		width:100%;
		padding:10px;
		box-sizing:border-box;
		background:$primary-alt;
		color:#222;
		outline:0;
		border:0;
		border-radius:3px;
		margin-top:10px;
		font-family: 'Montserrat', sans-serif;
	}
	.button:hover {
		background:$dark-gray;
		color:#fff;
		cursor: pointer;
	}

	.tab {
		width: 50%;
		font-size: 11px;
		background: $medium-gray;
		border-radius: 6px 6px 0 0;
		display: inline-block;
		color: #FFF;
		text-decoration: none;
		text-align: center;
		padding: 10px 0;
	}
	.tab-current {
		background:$primary;
	}
	.tab:last-of-type {
		box-shadow:-1px 0 0 $light-gray;
	}
	.tab-content {
		background:$primary;
		padding:15px;
		display:none;
	}
}
.connection-list {
	background:$dark-gray;
	max-height:100px;
	overflow:auto;
	font-size:12px;
	color:#fff;
	margin-top:15px;
	a:link,
	a:visited {
		color:#fff;
		text-decoration: none;
		display:block;
		padding:10px 15px;
		font-size:12px;
		border-bottom:1px solid rgba(255,255,255,.05);
	}
	a:hover {
		background:$primary;
		color:#222;
	}
	a:before {
		content:'\f0da';
		float:right;
		font-family:fontawesome;
	}
}
.remove-list {
	background:$dark-gray;
	max-height:100px;
	overflow:auto;
	font-size:12px;
	color:#fff;
	margin-top:15px;
	a:link,
	a:visited {
		color:#fff;
		text-decoration: none;
		display:block;
		padding:10px 15px;
		font-size:12px;
		border-bottom:1px solid rgba(255,255,255,.05);
	}
	a:hover {
		background:#4F0002;
		color:#E61313;
	}
	a:before {
		content:'\f00d';
		float:right;
		font-family:fontawesome;
	}
}
.connection-list::-webkit-scrollbar {
	width: 8px;
}
 
/* Track */
.connection-list::-webkit-scrollbar-track {
	background:$dark-gray;
}
 
/* Handle */
.connection-list::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: $medium-gray; 
	-webkit-box-shadow: inset 0 0 0 2px $dark-gray; 
}
.connection-list::-webkit-scrollbar-thumb:hover,
.connection-list::-webkit-scrollbar-thumb:active {
	background: $light-gray; 
}